@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --divider: #999999;
  --header-button: #113d48;
  --blue-button: #1ca8cb;
  --gray-850: #113d48;
  --gray-600: #6e7070;
  --gray-666: #666666;
  --gray-888: #888c97;
  --blue-600: #e9f6f9;
  --border-gray-300: #e1e4e5;
  --gray-900: #0d0d0c;
  --stroke: #bcced2;
  --orange-500: #ffa944;

  /* Custom colors */
  --primary: #2563eb; /* xanh dương */
  --secondary: #9333ea; /* tím */
  --success: #16a34a; /* xanh lá */
  --warning: #f59e0b; /* cam */
  --danger: #dc2626; /* đỏ */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* map biến custom sang class tailwind */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-divider: var(--divider);
  --color-header-btn: var(--header-button);
  --color-blue-header-btn: var(--blue-button);
  --color-gray-850: var(--gray-850);
  --color-gray-600: var(--gray-600);
  --color-gray-666: var(--gray-666);
  --color-gray-888: var(--gray-888);
  --color-gray-900: var(--gray-900);
  --color-blue-600: var(--blue-600);
  --color-orange-500: var(--orange-500);
  --color-stroke-200: var(--stroke);
  --color-border-gray-300: var(--border-gray-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 0 0 !important;
}
